
.rowAlign {
  display: flex;
  justify-content:  space-between;
  align-items: center;
}

.modal-cell-alignment {
  display: flex;
  justify-content: space-between;
  align-items: left;
  padding: 5px;
}

.wrapper {
  margin: 5px;
}

.pull-apart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
}

.margin-min {
  margin: 20px;
}

.info-container {
  width: 60%;
  min-height: 100px;
  background-color: #E8F6FF;
  padding: 12px;
  border-radius: 5px;
}

.csv-upload-container {
  max-width: 30%;
  max-height: 300px;
  background-color: #E8F6FF;
  padding: 10px;
  text-align: left;
}

h5 {
  color: rgb(13, 13, 66);
}

.mb-5 {
  background-color: lightblue;
}

.margins {
  margin: 15px;
}

.button {
  background-color: rgb(219, 218, 218);
  color: black;
  border-radius: 1px solid white;
  border: 1px solid rgb(219, 218, 218);
}

.button-margin {
  margin-right: 15px;
  height: 50px;
  min-width: 150px;
}

td {
  min-width: 100px;
}

.text-color-reporting {
  color: grey;
  font-size: 12px;
}

.text-color-reporting-result {
  color: black;
  font-weight: bold;
}

.rowBlock {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.blockBlock {
  min-width: 50px;
}​

.blockHorizontal {
  margin: 12px;
}

.pull-apart-max {
  display: flex;
  justify-content: baseline;
  margin: 20px;
}