
.rowAlign {
  display: flex;
  justify-content:  space-between;
  align-items: center;
}

.modal-cell-alignment {
  display: flex;
  justify-content: space-between;
  align-items: left;
  padding: 5px;
}

.wrapper {
  margin: 5px;
}

.pull-apart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
}

.info-container {
  width: 50%;
  height: 300px;
}

.csv-upload-container {
  max-width: 30%;
  max-height: 300px;
  background-color: lightblue;
  padding: 10px;
  text-align: left;
}

h5 {
  color: rgb(13, 13, 66);
}

.mb-5 {
  background-color: lightblue;
}

.margins {
  margin: 15px;
}

.button {
  background-color: rgb(219, 218, 218);
  color: black;
  border-radius: 1px solid white;
  border: 1px solid rgb(219, 218, 218);
}

td {
  min-width: 100px;
}